<div class="main-layout-container rounded-lg shadow-lg bg-warning border">
  <h4 class='main-layout-title text-center bg-danger text-white rounded-top py-1 font-weight-bold'>
    <% if params[:tag] %>
      <%= "検索結果 （##{params[:tag]}）" %>
    <% else %>
      <% if @user && (@user != current_user) %>
        <%= "#{@user.name} さんのツイート一覧" %>
      <% else %>
        タイムライン
      <% end %>
    <% end %>
  </h4>
  <div class="tweet-box  mb-2 mt-1 rounded">
    <% obj.each do |tweet| %>
    <div class="tweet border-bottom m-3 bg-white rounded">
      <div class='tweet-main'>
        <div class='tweet-left ml-3'>
          <%= link_to user_path(tweet.user) do %>
            <%= attachment_image_tag tweet.user, :image, fallback: 'no_image.jpg', size: '40x40', class: 'ml-1 mr-3 my-3 rounded-circle' %><span class='font-weight-bold'><%= "#{tweet.user.name}" %></span>
          <% end %>
          <div style='overflow-wrap: break-word; max-width: 98%;'><%= tweet.content %></div>
        </div>
        <div class='tweet-right mr-3 d-flex align-items-center ml-3 my-3'>
          <%= attachment_image_tag tweet, :image, size: '100x100' %>
        </div>
        <div class='ml-3'>
          <% tweet.tag_counts.each do |tag| %>
            <%= link_to "##{tag.name}(#{tag.taggings_count})", tweets_path(tag: tag.name), {class: 'mr-2', data: {"turbolinks" => false}} %>
          <% end %>
        </div>
      </div>
      <div class='tweet-info d-flex mt-3'>
        <% if tweet.score %>
          <% if tweet.score >= 0.5  %>
            <div class='tweet-positive-parameter ml-2' style='color: red;'> 感情指数 <i class="far fa-grin-squint"></i> <%= tweet.score %></div>
          <% elsif tweet.score > 0 %>
            <div class='tweet-positive-parameter ml-2' style='color: green;'> 感情指数 <i class="far fa-grin-alt"></i> <%= tweet.score %></div>
          <% elsif  -0.5 < tweet.score %>
            <div class='tweet-positive-parameter ml-2' style='color: green;'> 感情指数 <i class="far fa-meh"></i> <%= tweet.score %></div>
          <% else %>
            <div class='tweet-positive-parameter ml-2' style='color: blue;'> 感情指数 <i class="far fa-tired"></i> <%= tweet.score %></div>
          <% end %>
        <% end %>
        <div id="favorite-btn-<%= tweet.id %>" class='ml-auto mr-1'><%= render 'favorites/favorite_btn', obj: tweet %></div>
        <div class='tweet-comment mx-1'><%= link_to "コメント#{tweet.tweet_comments.count}", tweet_path(tweet.id), {id: "tweet-#{tweet.id}-show-link"} %></div>
        <% if tweet.user == current_user %>
          <div class='mx-1'><%= link_to '削除する', tweet_path(tweet), method: :delete, remote: true, id: "tweet-#{tweet.id}-delete-link" %></div>
        <% end %>
        <div class='tweet-time mx-1'><%= "#{tweet.created_at.strftime('%Y/%m/%d %H:%M:%S')}" %></div>
      </div>
    </div>
    <% end %>
  </div>
  <div class='kaminari d-flex justify-content-center'>
    <%= paginate obj %>
  </div>
</div>