<div class="main-layout-container rounded-lg shadow-lg bg-warning border">
  <h4 class='main-layout-title text-center bg-danger text-white rounded-top py-1 font-weight-bold'>ツイート一覧 <% if params[:tag] %> <%= "(##{params[:tag]}検索結果)" %> <% end %></h4>
  <div class="tweet-box  mb-2 mt-1 rounded">
    <% obj.each do |tweet| %>
    <div class="tweet border-bottom m-3 bg-white rounded">
      <div class='tweet-main  d-flex justify-content-between'>
        <div class='tweet-left ml-3'>
          <%= attachment_image_tag tweet.user, :image, fallback: 'no_image.jpg', size: '40x40', class: 'm-3 rounded-circle' %><span class='font-weight-bold'><%= "#{tweet.user.name}" %></span>
          <p class='ml-4 my-1'><%= tweet.content %></p>
          <p>
            <% tweet.tag_counts.each do |tag| %>
              <%= link_to "##{tag.name}(#{tag.taggings_count})", tweets_path(tag: tag.name), {class: 'mr-2', data: {"turbolinks" => false}} %>
            <% end %>
          </p>
        </div>
        <div class='tweet-right mr-3 d-flex align-items-center'>
          <%= attachment_image_tag tweet, :image, size: '100x100' %>
        </div>
      </div>
      <div class='tweet-info d-flex'>
        <div id="favorite-btn-<%= tweet.id %>" class='ml-auto mr-3'><%= render 'shared/favorite_btn', obj: tweet %></div>
        <div class='tweet-comment mx-3'><%= link_to "コメント#{tweet.tweet_comments.count}", tweet_path(tweet.id) %></div>
        <% if tweet.user == current_user %>
          <div class='mx-3'><%= link_to '削除する', tweet_path(tweet), method: :delete, remote: true %></div>
        <% end %>
        <div class='tweet-time mx-3'><%= "#{tweet.created_at.strftime('%Y/%m/%d %H:%M:%S')}" %></div>
      </div>
    </div>
    <% end %>
  </div>
</div>