<div class="container-fluid">
  <div class='row'>
    <div class='col-sm-10 offset-sm-1'>
      <h2 class='text-center my-4'>過去の体型記録一覧</h2>
      <div class='d-flex justify-content-end'>
         <%= link_to '今日の体型記録をつける>>', edit_user_path(@user) %>
      </div>
     
      <table class="table">
        <thead>
          <th>日付</th>
          <th>体重</th>
          <th>体脂肪率</th>
          <th></th>
        </thead>
        <tbody>
          <% @user_infos.each do |info| %>
          <!--formwithにinfoを直接渡すと、modelとして認識しない。-->
          <%= form_with model: [@user, UserInfo.find(info.id)], local: true do |f| %> 
          <tr>
            <td><%= info.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= f.number_field :weight, value: "#{info.weight}", class: 'number-fields' %> kg</td>
            <td><%= f.number_field :body_fat_percentage, value: "#{info.body_fat_percentage}", class: 'number-fields'  %> %</td>
            <td>
              <%= f.submit '変更', {class: 'btn btn-success mb-1'} %>
              <%= link_to '削除', user_user_info_path(@user.id, info.id), method: :delete, class: 'btn btn-danger mb-1' %>
            </td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
      <div class='kaminari d-flex justify-content-center'>
        <%= paginate @user_infos %>
      </div>
    </div>
  </div>