<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-lg-3 offset-lg-1 user-info user-info-tweet">
      <%= render 'layouts/user_sidebar', obj: current_user %>
    </div>
    <div class="col-lg-6 offset-lg-1">
      <h2 class='text-center'>ユーザー一覧</h2>
      <table class="table">
        <thead>
          <th></th>
          <th>ユーザー名</th>
          <th></th>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= attachment_image_tag user, :image, fallback: 'no_image.jpg', size: '40x40', class: 'mb-3 rounded-circle' %></td>
            <td><%= link_to "#{user.name}", user_path(user) %></td>
            <td id= "<%= user.id %>-follow-button"><%= render 'follow_button', obj: user %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class='kaminari d-flex justify-content-center'>
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>