<div class="container mt-3">
  <div class="row">
    <div class="col-sm-4 user-info">
      <%= render 'layouts/user_sidebar', obj: @user %>
      <%= render 'follow_button', obj: @user %>
    </div>
    <div class="col-sm-8">
      <div>
        <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#user-weight-graph" class="nav-link border" data-toggle='tab active'>体重(kg)</a>
        </li>
        <li class="nav-item">
          <a href="#user-body_fat_percentage-graph" class="nav-link border" data-toggle='tab'>体脂肪率(%)</a>
        </li>
        <li class="d-flex align-items-center ml-auto">
          <%= link_to '記録一覧はこちら>>', user_user_infos_path(@user.id), 'data-turbolinks': false, class: 'user_info_link' %>
        </li>
      </ul>
      
      <div class="tab-content mb-4">
        <div id='user-weight-graph' class='tab-pane active'>
          <%= line_chart @weight_data, height: "200px"%>
        </div>
        <div id='user-body_fat_percentage-graph' class='tab-pane'>
          <%= line_chart @body_fat_percentage_data, height: "200px" %>
        </div>
      </div>
      </div>
      
     <%= render 'tweets/tweet_index', obj: @tweets %>
      
    </div>
  </div>
</div>