<div class="container-fluid mt-3">
  <div class='row'>
    <div class="col-lg-4 offset-lg-1 user-info mb-5 mt-3">
      <%= render 'layouts/user_sidebar', obj: @user %>
      <div id="<%= @user.id %>-follow-button">
        <%= render 'follow_button', obj: @user %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class='mb-5'>
        <div class="d-flex align-items-center mb-2">
          <%= link_to '記録一覧はこちら>>', user_user_infos_path(@user.id), 'data-turbolinks': false, class: 'user_info_link' %>
        </div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="#user-weight-graph" class="nav-link border" data-toggle='tab' id="fast_active">体重(kg)</a>
          </li>
          <li class="nav-item">
            <a href="#user-body_fat_percentage-graph" class="nav-link border" data-toggle='tab'>体脂肪率(%)</a>
          </li>
        </ul>
        <div class="tab-content mb-4">
          <div id='user-weight-graph' class='tab-pane active'>
            <%= line_chart @weight_data, height: "200px"%>
          </div>
          <div id='user-body_fat_percentage-graph' class='tab-pane active'>
            <%= line_chart @bfp_data, height: "200px" %>
          </div>
        </div>
      </div>
      
     <%= render 'tweets/tweet_index', { obj: @tweets, obj1: @follow_btn_switch } %>
      
    </div>
  </div>
  </div>
</div>
<script>
  $("#user-body_fat_percentage-graph").removeClass("active");
  $("#fast_active").addClass("active");
</script>