<div class="container-fluid">
    <div class='row'>
      <div class=' col-lg-10 offset-lg-1 mt-3'>
      <h2 class='text-center my-4'><span class='training-note-title-part'><%= @record.created_at.strftime('%Y/%m/%d') %></span><span class='training-note-title-part'>トレーニング内容編集</span></h2>
      <%= render 'layouts/errors', obj: @training_record %>
      <%= form_with model: [@record, TrainingRecord.new], local: true do |f| %>
        <div class='mt-3'>
          <div class='mb-2'>
            <% category_options = Part.order(:id).map{|c| [c.name, c.id, data: { children_path: part_trainings_path(c)}] } %>
            <%= f.select :part_id, category_options, {include_blank: 'ーー部位を選択ーー' }, class: 'select-parent' %>
          </div>
          <div class='mb-3'>
            <% sub_categories = Part.try(:trainings) || [] %>
            <% sub_category_options = sub_categories.map{ |c| [c.name, c.id] } %>
            <%= f.select :training_id, sub_category_options, { include_blank: 'ーー部位別トレーニング一覧ーー' }, class: 'select-children' %>
          </div>
        </div>
        <div class='d-flex mb-4 align-items-center'>
          <div>
            <%= f.number_field :weight, class: 'training_number_form' %><span class='training-form-unit-part'>kg</span>
          </div>
          
          <div>
            <%= f.number_field :rep, class: 'ml-2 training_number_form' %><span class='training-form-unit-part'>回</span>
          </div>
          
          <div>
            <%= f.number_field :set, class: 'ml-2 training_number_form' %><span class='training-form-unit-part'>セット</span>
          </div>
          <div>
            <%= f.submit '記録する', class: 'btn btn-primary ml-1' %>
          </div>
        </div>
      <% end %>
      <table class="table taining-edit-table" style="width: 100%;">
        <thead>
          <th width="25%">トレーニング</th>
          <th width="25%">重量</th></th>
          <th width="25%">レップ</th>
          <th width="25%">セット</th>
        </thead>
        <tbody>
          <% @training_records.each do |t_record| %>
          <%= form_with model: [@record, t_record], local: true do |f| %>
          <tr>
            <td width="25%"><%= t_record.training.name %></td>
            <td width="25%"><%= f.number_field :weight, value: t_record.weight, id: "weight-field-#{t_record.id}", class: 'training_number_form_edit' %><span class='training-form-unit-part'>kg</span></td>
            <td width="25%"><%= f.number_field :rep, value: t_record.rep, id: "rep-field-#{t_record.id}", class: 'training_number_form_edit'%><span class='training-form-unit-part'>回</span></td>
            <td width="25%"><%= f.number_field :set, value: t_record.set, id: "set-field-#{t_record.id}", class: 'training_number_form_edit' %><span class='training-form-unit-part'>セット</span></td>
          </tr>
          <% if @record.user == current_user %>
          <tr>
            <td style='border: none;'></td>
            <td style='border: none;'></td>
            <td style='border: none;' colspan='2' class='d-flex justify-content-end'><%= f.submit '変更', class: "btn btn-success ml-auto p-0", id: "update-btn-#{t_record.id}" %><%= link_to '削除', record_training_record_path(@record.id, t_record.id), method: :delete, class: 'btn btn-danger edit-delete-btn p-0' %></td>
          </tr>
          <% end %>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  