<div class="container">
  <h2><%= "#{@record.created_at.strftime('%Y/%m/%d')}トレーニング内容編集" %></h2>
  <div class="row">
    <div class=' col-sm-10 mt-3'>
      <% if @record.user == current_user %>
      <%= render 'layouts/errors', obj: @training_record %>
      <%= form_with model: [@record, t_record], local: true do |f| %>
        <div class='d-flex mb-3'>
          <div>
            <% category_options = Part.order(:id).map{|c| [c.name, c.id, data: { children_path: part_trainings_path(c)}] } %>
            <%= f.select :part_id, category_options, {include_blank: 'ーー部位を選択ーー' }, class: 'select-parent' %>
          </div>
          
          <div>
            <% sub_categories = Part.try(:trainings) || [] %>
            <% sub_category_options = sub_categories.map{ |c| [c.name, c.id] } %>
            <%= f.select :training_id, sub_category_options, { include_blank: 'ーー部位別トレーニング一覧ーー' }, class: 'select-children' %>
          </div>
        </div>
        
        <div class='d-flex mb-4 align-items-center'>
          <div>
            <%= f.number_field :weight, class: 'training_number_form' %>kg
          </div>
          
          <div>
            <%= f.number_field :rep, class: 'ml-1 training_number_form' %>回
          </div>
          
          <div>
            <%= f.number_field :set, class: 'ml-1 training_number_form' %>セット
          </div>
          
          <div>
            <%= f.submit '記録する', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <table class="table">
      <thead>
        <th>トレーニング名</th>
        <th>重量</th></th>
        <th>レップ数</th>
        <th>セット数</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% @record.training_records.each do |t_record| %>
        <%= form_with model: [@record, t_record], local: true do |f| %>
        <tr>
          <td><%= f.collection_select :training_id, Training.all, :id, :name, {selected: t_record.training_id } %></td>
          <td><%= f.number_field :weight, value: t_record.weight %><br>kg</td>
          <td><%= f.number_field :rep, value: t_record.rep %><br>回</td>
          <td><%= f.number_field :set, value: t_record.set %><br>セット</td>
          <% if @record.user == current_user %>
            <td><%= f.submit '変更', class: 'btn btn-success' %></td>
            <td><%= link_to '削除', record_training_record_path(@record.id, t_record.id), method: :delete, class: 'btn btn-danger' %></td>
          <% end %>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>