<!DOCTYPE html>
<html>
  <head>
    <title>筋トレノート</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-warning">
        <nav class="navbar navbar-expand-lg col-10 offset-1 p-0">
           <a class="navbar-brand mr-auto" href="/" syle="display: bolck">
             <%= image_tag 'logo.jpg' %>
           </a>
           <button class='navbar-toggler border-dark' type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>
             <span class='navbar-toggler-icon'></span>
           </button>
           <div id='navbarNavDropdown' class='collapse navbar-collapse'>
             <% if user_signed_in? %>  <!--ログインしている場合-->
              <ul class="nav navbar-nav ml-auto d-flex align-items-center">
               <li class="nav-item header-nav-item">
                 <%= link_to user_path(current_user), {class: 'nav-link btn btn-danger mr-3 border-dark'} do %>
                 <i class="far fa-id-card text-white font-weight-bold">マイページ</i>
                 <% end %>
               </li>
               <li class="nav-item header-nav-item">
                 <%= link_to records_path, {class: 'nav-link btn btn-danger mr-3 border-dark'} do %>
                   <i class="fas fa-dumbbell text-white font-weight-bold">トレーニング記録</i>
                 <% end %>
               </li>
               <li class="nav-item header-nav-item">
                 <%= link_to user_user_infos_path(current_user.id), {class: 'nav-link btn btn-danger mr-3 border-dark', data: {"turbolinks" => false}} do %>
                   <i class="fas fa-pencil-alt text-white font-weight-bold">体型記録</i>
                 <% end %>
               </li>
               <li class="nav-item header-nav-item">
                 <%= link_to tweets_path, {class: 'nav-link btn btn-danger mr-3 border-dark tubuyaku', data: {"turbolinks" => false}} do %>
                   <i class="far fa-comment-alt text-white font-weight-bold">つぶやく！</i>
                 <% end %>
               </li>
               <li class="nav-item header-nav-item">
                 <%= link_to users_path, {class: 'nav-link btn btn-danger mr-3 border-dark nakama'} do %>
                   <i class="far fa-user-friends text-white font-weight-bold">仲間を探す！</i>
                 <% end %>
               </li>
               <li class="nav-item header-nav-item">
                 <%= link_to notifications_path, {class: 'nav-link btn btn-danger mr-3 border-dark nakama'} do %>
                    <% if unchecked_notifications.any? %>
                      <i class="fa fa-circle" style="color: yellow;"></i>
                    <% end %>
                    <i class="far fa-bell font-weight-bold text-white">通知</i>
                 <% end %>
               </li>
               <li class='nav-item header-nav-item'>
                 <div class="dropdown">
                   <button class="btn btn-warning p-0 dropdown-toggle user-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <%= attachment_image_tag current_user, :image, fallback: 'no_image.jpg', size: '50x50', class: 'user-image' %>
                   </button>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <%= link_to edit_user_registration_path do %>
                        <i class="fas fa-user-cog font-weight-bold dropdown-item p-3"> ユーザー情報編集</i>
                      <% end %>
                      <%= link_to privacy_path do %>
                        <i class="fas fa-info-circle font-weight-bold dropdown-item p-3"> プライバシーポリシー</i>
                      <% end %>
                      <%= link_to term_path do %>
                        <i class="fas fa-file-alt font-weight-bold dropdown-item p-3 pb-4"> 利用規約</i>
                      <% end %>
                      <%= link_to destroy_user_session_path, method: :delete do %>
                        <i class="fas fa-sign-out-alt font-weight-bold dropdown-item p-3 pt-4 border-top sign-out"> ログアウト</i>
                      <% end %>
                   </div>
                 </div>
               </li>
              </ul>
            <% else %> <!--ログインしていない場合-->
              <ul class="nav navbar-nav ml-auto">
               <li class="nav-item header-nav-item">
                 <%= link_to '新規登録', new_user_registration_path, {class: 'nav-link btn btn-danger mr-3 border-dark'} %>
               </li>
               <li class="nav-item header-nav-item">
                 <%= link_to 'ログイン', new_user_session_path, {class: 'nav-link btn btn-danger mr-3 border-dark'} %>
               </li>
              </ul>
            <% end %>
           </div>
        </nav>
        <% if user_signed_in? %>
          
        <% end %>
    
      </div>
    </header>
    
    <div style='height: 65px'>
      
    </div>
    
    <% flash.each do |key, value| %>  <!-- flashの表示　-->
      <% if key == 'alert' || key == 'notice' || key == 'error' %> <!-- deviseのflashメッセージへ対応 -->
        <div class="alert alert-<%= devise_flashkey_to_bootstrap(key) %> m-0">
         <%= value %> 
         <button class='close' data-dismiss='alert' aria-label='close'>
           <span aria-hidden='true'>&times;</span>
         </button>
       </div>
      <% elsif key=='notification' %>
        <div class="alert alert-success m-0">
          <%= link_to '新着通知があります。 詳細はこちら>>', notifications_path %>
         <button class='close' data-dismiss='alert' aria-label='close'>
           <span aria-hidden='true'>&times;</span>
         </button>
       </div>
      <% else %>
       <div class="alert alert-<%= key %> m-0">
         <%= value %> 
         <button class='close' data-dismiss='alert' aria-label='close'>
           <span aria-hidden='true'>&times;</span>
         </button>
       </div>
      <% end %>
    <% end %>
    
    <%= yield %>
    
    <div id='top-up-btn'>
      <i class="fas fa-4x fa-arrow-circle-up"></i>
    </div>
    
    <footer class= 'py-2 text-center'>
      <span>@2021 筋トレノート</span>
    </footer>
  </body>
</html>
