<div class='user-form-background'>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 my-4 offset-sm-3">
        <div class="main-layout-container rounded-lg shadow-lg bg-warning">
          <h4 class='main-layout-title text-center bg-danger text-white rounded-top py-1 font-weight-bold'>新規登録</h4>
          <div class="main-layout-box  mb-2 mt-1 rounded">
            <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
              <%= render "users/shared/error_messages", resource: resource %>
              
              <table class="d-flex justify-content-center mt-4">
                <tbody>
                  <tr class='user-field'><td width="40%"><%= f.label :name, 'ユーザー名:', {class: 'ml-2 mb-3'} %></td><td width="60%"><%= f.text_field :name, autofocus: true, class: 'mr-1 mb-3' %></td></tr>
                  <tr class='user-field'><td width="40%"><%= f.label :email, 'メールアドレス:', {class: 'ml-2 mb-3'} %></td><td width="60%"><%= f.email_field :email, autocomplete: "email", class: 'mr-3 mb-3' %></td></tr>
                  <tr class='user-field'><td width="40%"><%= f.label :tall, '身長:', {class: 'ml-2'} %></td><td width="60%"><%= f.number_field :tall, placeholder: 'cm', class: 'mr-3 mb-3', step: '0.1' %></td></tr>
                  <tr class='user-field'><td width="40%"><%= f.label :weight, '体重:', {class: 'ml-2'} %></td><td width="60%"><%= f.number_field :weight, placeholder: 'kg', class: 'mr-3 mb-3', step: '0.1' %></td></tr>
                  <tr class='user-field'><td width="40%"><%= f.label :body_fat_percentage, '体脂肪率:', {class: 'ml-2'} %></td><td width="60%"><%= f.number_field :body_fat_percentage, placeholder: '%', class: 'mr-3 mb-3', step: '0.1' %></td></tr>
                  <tr class='user-field'><td width="40%"><%= f.label :profile, 'プロフィール:', {class: 'ml-2'} %></td><td width="60%"><%= f.text_area :profile, class: 'mr-3 mb-3' %></td></tr>
                  <tr class='user-field'><td width="50%"><%= f.label :image, 'プロフィール画像:', {class: 'ml-2'} %></td><td width="50%"><%= f.attachment_field :image, class: 'mr-3 mb-3 image-field' %></td></tr>
                  <tr class='user-field'><td width="40%"><%= f.label :start_date, '筋トレ開始日:', {class: 'ml-2'} %></td><td width="60%"><%= f.date_field :start_date, class: 'mr-3 mb-3' %></td></tr>
                  <tr class='user-field'><td width="40%"><%= f.label :password, 'パスワード:', {class: 'ml-2'} %></td><td width="60%"><%= f.password_field :password, autocomplete: "new-password", placeholder: '英数字6文字以上', class: 'mr-3 mb-3' %></td></tr>
                  <tr class='user-field'><td width="40%"><%= f.label :password_confirmation, 'パスワード確認:', {class: 'ml-2'} %></td><td width="60%"><%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'mr-3 mb-3' %></td></tr>
                </tbody>
              </table>
            
              <div class="actions text-center mt-4">
                <%= f.submit "登録する", {class: 'btn btn-success mb-3'}%><br>
                <%= render "users/shared/links" %>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



